body{
    background-color: yellow;
    color: yellow;
    margin: 0px;
     font-family: "Noto Sans Sunuwar", sans-serif;
}

header {
    border-bottom: solid 300px rgb(240, 3, 3);
    padding: 200px;
    font-size: 32px;
    color: aquamarine;
}

section {
background: greenyellow;
padding-top: 80px;
padding-bottom: 80px;
display: flex;
justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 273px;
}